.app {
  display: flex;
  height: 100%;
  width: 100%;

  &-nav {
    background-color: black;
    height: 100%;
    width: 210px;
  }

  &-resizer {
    background-color: #888888;
    cursor: col-resize;
  }

  &-view {
    background-color: grey;
    height: 100%;
    width: calc(100% - 210px);
  }
}
